<h1>Usuwanie użytkownika</h1>
  <p class="text-warning"><%= "#{@worker.imie} #{@worker.nazwisko}?" %></p>
  <%= link_to("Powrót", {:controller => 'dostep', :action => 'index'}, :class => 'btn btn-primary')%>
  <%= link_to("Usuń",{:controller => "workers", :action => 'kasuj', :id => @worker.id} ,:class =>  'btn  btn-danger') %>
