html, body{
    overflow: auto;
}

body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin-bottom: 50px;
}

.slide-content h1{
    color: aliceblue;
    font-size: 50px;
}

.intro h1{
    color: black;
    font-size: 50px;
}

.partial-head h1{
    font-size:25px;
    color: #fafffb;
}

.partial-describe dt{
font-size: 17px;
}
.partial-describe p{
    font-size:17px;
    color: black;
}

.li-begin{
    font-weight: bold;
}
.li-left li{
     text-align: left;
     font-size:13px;
     color: black;
 }

.li-left li a{
    color: black;
}

.circle-mark{
    list-style-type: circle;
}
.circle-mark li{
    font-size: 15px;
    margin-left: 10px;
}

.partners h1{
    color: #000000;
}
.partners a:hover{
background-color: #ffffff;
}


.button-new{
    text-align: center;
}

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background: black center center;
    /* in case the video doesn't fit the whole page*/
    background-size: contain;
    object-fit: fill; /*cover video background */
    z-index:3;
}

.lewa-strona {
    margin-left: 250px;
}

.prawa-strona {
  margin-left:700px;
}

.modalne-opisy{
    text-align: left;
}
.modalne-opisy p{
    font-size: 15px;
    margin-left: 50px;
}

.modalne-opisy table{
    margin:auto auto;
    width: 70%;
}

.modalne-opisy td{
    vertical-align: middle;
}

.modalne-opisy img{
    display: block;
   margin: auto auto;
}

img.map_image{
    display: block;
    margin: auto auto;
}

.labels-center{
    text-align: center;
}

.jumbotron{
    width: 75%;

    margin: auto auto;
    border-radius: 15px;
}

.panel-group{
    width: 100%;
    margin: auto auto;
}

.finger_one{
    margin-left: 250px;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 0s;
    -moz-animation-iteration-count: infinite;
}

.finger_two{
    margin-left: -500px;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1.5s;
    -moz-animation-iteration-count: infinite;
}

.arrow_image{
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 3s;
    -moz-animation-delay: 1s;
    -moz-animation-iteration-count: infinite;
}

.voice_image{
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1.5s;
    -moz-animation-iteration-count: infinite;
}

.image_head{
    margin-bottom: 50px;
}

#biometric_title{
    color: #CC0000;
}

.cisco h1{
    margin-top:-100px;
    color: aliceblue;
}

#cisco_body{
    float: left;
    text-align: left;
    width:100%;
}


.cisco_contact{
    margin-top: 30px;
}

.cisco_contact p{

    width: auto;
}

.cisco_contact h2{
    font-size: 30px;
    color: aliceblue;
    margin-bottom: 45px;
}

.cisco_contact address{
    text-align: center;
}

.galeria h1{
    margin-top: -150px;
}

.galeria img {
    margin-bottom: 25px;
}

.galeria img:hover {
    background-color: #434D5A;
}

.biometric_images{
    margin-top: 30px;
}

.staff_photo img{
    margin-bottom: 30px;
}

.admin-index button{
     display: inline-block;
 }

.caption h3{
    color: white;
    font-size: 20px;
}

#cisco_body{
    line-height: 120%;
}

.big_number{
    font-size: 25px;
}

#ciscoIMG:hover{
    background-color: #207AA0;
}

#modalCISKO .modal-dialog  {width:75%;}
#modalBIO .modal-dialog  {width:75%;}
#modalUS .modal-dialog  {width:75%;}
#modalMIT .modal-dialog  {width:75%;}

div.well:hover{
    cursor: pointer;
}

.table td{
    font-size: 15px;
}






