body{
    font-family: 'Open Sans', sans-serif;
}

h1{
    margin-bottom: 50px;
}
.slide-content h1{
    color: aliceblue;
    font-size: 50px;
}

.intro h1{
    color: black;
    font-size: 50px;
}

.partial-head h1{
    font-size:25px;
    color: #fafffb;
}

.partial-describe dt{
font-size: 17px;
}
.partial-describe p{
    font-size:15px;
    color: black;
}

.li-begin{
    font-weight: bold;
}
.li-left li{
     text-align: left;
     font-size:13px;
     color: black;
 }

.li-left li a{
    color: black;
}

.circle-mark{
    list-style-type: circle;
}

.partners h1{
    color: #000000;
}
.partners a:hover{
background-color: #ffffff;
}


.button-new{
    text-align: center;
}

#myVideo{
    position: absolute;
    right: 0;
    bottom: 0;
    top:0;
    right:0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background: black url("app/assets/images/film.mp4") center center;
    /* in case the video doesn't fit the whole page*/
    background-size: contain;
    object-fit: fill; /*cover video background */
    z-index:3;
}

.lewa-strona {
    margin-left: 250px;
}

.prawa-strona {
  margin-left:700px;
}

.modalne-opisy{
    text-align: left;
}
.modalne-opisy p{
    font-size: 15px;
    margin-left: 50px;
}

.modalne-opisy span{

}

.labels-center{
    text-align: center;
}

.jumbotron{
    width: 75%;

    margin: auto auto;
    border-radius: 15px;
}

.panel-group{
    width: 100%;
    margin: auto auto;
}

.finger_one{
    margin-left: 250px;
}

.finger_two{
    margin-left: -500px;
}

.image_head{
    margin-bottom: 50px;
}

#biometric_title{
    color: #CC0000;
}




